@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
    quasi aliquam eligendi, placeat qui corporis!.</p>
</div>

<img src="https://cdna.artstation.com/p/assets/images/images/054/694/770/large/damien-papet-ch01-forest01-provence.jpg?1665139635" class="img-fluid" alt="imagen1">
